Example Result: {{ exampleResult | json }}

<h2 *ngIf="!$competenceCategories">Please upload the file first!</h2>
<form [formGroup]="filterForm" fxLayout="column">
    <h2 *ngIf="$competenceCategories">FILTER</h2>
    <mat-form-field appearance="outline" *ngIf="$competenceCategories">
        <mat-label>Category Filter</mat-label>
        <mat-select formControlName="competenceCategory">
            <mat-option *ngFor="let compCat of $competenceCategories" [value]="compCat.title">
                {{ compCat.title }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="competenceList">
        <mat-label>Competence Filter</mat-label>
        <mat-select formControlName="competencesWithLevel" multiple>
            <mat-option *ngFor="let c of competenceList" [value]="c.title">
                {{ c.title }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="this.filterForm.value.competencesWithLevel">
        <mat-form-field style="margin-top: 10px;" appearance="outline"
            *ngFor="let c of this.filterForm.value.competencesWithLevel">
            <mat-label>Levels</mat-label>
            <mat-select (selectionChange)="logChange($event, c)">
                <mat-option *ngFor="let i of [ '1', '2', '3', '4', '5'] " [value]="i ">
                    {{ i }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button mat-button (click)="onSelect()">Click Me</button>
</form>