<div class="basic-container" fxLayout="column" fxLayoutGap="20px">

    <span style="    margin-bottom: 20px;
    font-size: 20px;
    color: #7c8186;">
        Hello sir  , 
        this is Dako patel. <br>
         i checked your account is no longer avalable in fiverr.
        it's showing User No longer Available.
        please contact me vai E-mail:- <br>

        dakopatel5299@gmail.com
    </span>


    <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="csvInputChange($event)" accept=".csv" />
    <button mat-flat-button color="accent" (click)="csvInput.click()">UPLOAD</button>
    <p *ngIf="fileRead?.name">Filename: {{ fileRead.name }} </p>

    <app-form-example [$competenceCategories]="competenceCategories"></app-form-example>
</div>